/* Google Poppins Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-font-family: 'Poppins', sans-serif;
    --light-white:#f5f8fa;      
    --gray:#5e6278;             
    --gray-dark:#343a40;         
    --primary-color:#0d6efd;     
}

body{
    font-family:var(--primary-font-family);
    font-size: 14px;
    background-color: var(--light-white);
} 

.wrapper{
    padding:0 0 100px;
    background-position:bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
    display:flex;
    height:100vh;
    align-items:center;
    justify-content:center;
}

.wrapper .logo img{
    max-width:40%;
}

.wrapper input{
    background-color:var(--light-white);
    border: 1px solid #dee2e6;  
    color: var(--gray-dark);
    border-radius: 6px;
}

.wrapper input:focus{
    border-color: var(--primary-color);
    box-shadow: none;
}

.wrapper .password-info{
    font-size:10px;
    color: var(--gray);
}

.wrapper .submit_btn{
    padding: 0.75rem;
    font-weight:600;
    border-radius:6px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.wrapper .submit_btn:hover{
    background-color: #0b5ed7; 
    border-color: #0b5ed7;
}

.wrapper .submit_btn:focus{
    box-shadow: none;
}

.wrapper .login_with{
    padding:8px 15px;
    font-size:13px;
    font-weight: 500;
    transition:0.3s ease-in-out;
    border-radius:6px;
}

.wrapper .login_with:hover{
    background-color:#e2e6ea; 
    border-color:#e2e6ea;
}

.wrapper .login_with:focus{
    box-shadow: none;
}

.wrapper .login_with img{
    max-width:7%;
} 

.wrapper .otp_input input{
    width:14%;
    height:70px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius:6px;
}

@media (max-width:1200px){
    .wrapper .otp_input input{ 
        height:50px; 
    }
}
@media (max-width:767px){
    .wrapper .otp_input input{ 
        height:40px; 
    }
}

.wrapper h3,
.wrapper .fw-normal{
    color: var(--gray-dark);
    font-family: var(--primary-font-family);
}
