#message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 1rem;
    border-radius: 0.25rem;
}

#message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1rem;
    border-radius: 0.25rem;
}